// image gallery
.image-gallery {
  .image-grid {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: 250px;
    grid-auto-flow: dense;

    .image-grid-wrap {
      overflow: hidden;
      &:hover{
        img{
          transform: scale(1.05);
        }
      }

      .grid-item {
        width: 100%;
        height: 100%;
        object-fit: cover;
        cursor: pointer;
      }
    }
  }

  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.904);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
  }

  .modal-content {
    position: relative;
    width: 100%;
    height: 100%;
    // overflow: hidden;
    background: transparent;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;

    .image-wrap {
      height: calc(100% - 30px);

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }

    }

    .image-info {
      height: 30px;
      width: 100%;

      @media screen and (min-width: 768px) {
        max-width: 70%;
      }

      p {
        text-wrap: wrap;
      }
    }
  }

  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: #fff;
    font-size: 25px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    z-index: 10;
  }

  .previous,
  .next {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }

  .previous {
    left: 5px;

    @media screen and (min-width: 768px) {
      left: 20px;
    }
  }

  .next {
    right: 5px;

    @media screen and (min-width: 768px) {
      right: 20px;
    }
  }
}