---
import PageHeader from "../components/PageHeader.astro";
import MainLayout from "../layouts/MainLayout.astro";
import { SITE_TITLE } from "../utils/constants";

const pageTitle = "Gallery";
---

<MainLayout title={`${pageTitle} | ${SITE_TITLE}`} description="">
  <PageHeader title={pageTitle} />
  <div class="gallery padding--top padding--bottom bg-light">
    <div class="container">
      <div class="section__header text-center">
        <h2>Gallery</h2>
        <p>
          Enthusiastically underwhelm quality benefits rather than professional
          ``outside the box`` thinking. Distinctively network highly efficient
          leadership skills
        </p>
      </div>
      <div class="section__wrapper">
        <div class="row g-3 grid">
          <div class="col-lg-4 col-sm-6 col-12 cate-1">
            <div class="gallery__item">
              <div class="gallery__inner">
                <div class="gallery__thumb">
                  <img
                    src="assets/images/gallery/01.jpg"
                    alt="gallery-thumb"
                    class="w-100"
                  />
                </div>
                <div class="gallery__content text-center">
                  <a
                    href="assets/images/gallery/01.jpg"
                    data-rel="lightcase"
                    class="gallery__icon"><i class="fas fa-plus"></i></a
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6 col-12 cate-2">
            <div class="gallery__item">
              <div class="gallery__inner">
                <div class="gallery__thumb">
                  <img
                    src="assets/images/gallery/02.jpg"
                    alt="gallery-thumb"
                    class="w-100"
                  />
                </div>
                <div class="gallery__content text-center">
                  <a
                    href="assets/images/gallery/02.jpg"
                    data-rel="lightcase"
                    class="gallery__icon"><i class="fas fa-plus"></i></a
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6 col-12 cate-3">
            <div class="gallery__item">
              <div class="gallery__inner">
                <div class="gallery__thumb">
                  <img
                    src="assets/images/gallery/03.jpg"
                    alt="gallery-thumb"
                    class="w-100"
                  />
                </div>
                <div class="gallery__content text-center">
                  <a
                    href="assets/images/gallery/03.jpg"
                    data-rel="lightcase"
                    class="gallery__icon"><i class="fas fa-plus"></i></a
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6 col-12 cate-4 cate-1">
            <div class="gallery__item">
              <div class="gallery__inner">
                <div class="gallery__thumb">
                  <img
                    src="assets/images/gallery/04.jpg"
                    alt="gallery-thumb"
                    class="w-100"
                  />
                </div>
                <div class="gallery__content text-center">
                  <a
                    href="assets/images/gallery/04.jpg"
                    data-rel="lightcase"
                    class="gallery__icon"><i class="fas fa-plus"></i></a
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6 col-12 cate-3">
            <div class="gallery__item">
              <div class="gallery__inner">
                <div class="gallery__thumb">
                  <img
                    src="assets/images/gallery/05.jpg"
                    alt="gallery-thumb"
                    class="w-100"
                  />
                </div>
                <div class="gallery__content text-center">
                  <a
                    href="assets/images/gallery/05.jpg"
                    data-rel="lightcase"
                    class="gallery__icon"><i class="fas fa-plus"></i></a
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6 col-12 cate-2 cate-4">
            <div class="gallery__item">
              <div class="gallery__inner">
                <div class="gallery__thumb">
                  <img
                    src="assets/images/gallery/06.jpg"
                    alt="gallery-thumb"
                    class="w-100"
                  />
                </div>
                <div class="gallery__content text-center">
                  <a
                    href="assets/images/gallery/06.jpg"
                    data-rel="lightcase"
                    class="gallery__icon"><i class="fas fa-plus"></i></a
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6 col-12 cate-1 cate-3">
            <div class="gallery__item">
              <div class="gallery__inner">
                <div class="gallery__thumb">
                  <img
                    src="assets/images/gallery/07.jpg"
                    alt="gallery-thumb"
                    class="w-100"
                  />
                </div>
                <div class="gallery__content text-center">
                  <a
                    href="assets/images/gallery/07.jpg"
                    data-rel="lightcase"
                    class="gallery__icon"><i class="fas fa-plus"></i></a
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6 col-12 cate-2">
            <div class="gallery__item">
              <div class="gallery__inner">
                <div class="gallery__thumb">
                  <img
                    src="assets/images/gallery/08.jpg"
                    alt="gallery-thumb"
                    class="w-100"
                  />
                </div>
                <div class="gallery__content text-center">
                  <a
                    href="assets/images/gallery/08.jpg"
                    data-rel="lightcase"
                    class="gallery__icon"><i class="fas fa-plus"></i></a
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6 col-12 cate-1">
            <div class="gallery__item">
              <div class="gallery__inner">
                <div class="gallery__thumb">
                  <img
                    src="assets/images/gallery/09.jpg"
                    alt="gallery-thumb"
                    class="w-100"
                  />
                </div>
                <div class="gallery__content text-center">
                  <a
                    href="assets/images/gallery/09.jpg"
                    data-rel="lightcase"
                    class="gallery__icon"><i class="fas fa-plus"></i></a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</MainLayout>
