---
import PageHeader from "../components/PageHeader.astro";
import MainLayout from "../layouts/MainLayout.astro";
import { SITE_TITLE } from "../utils/constants";
import GalleryComp from "../components/GalleryComp.tsx";

const pageTitle = "Gallery";
---

<MainLayout title={`${pageTitle} | ${SITE_TITLE}`} description="">
  <PageHeader title={pageTitle} />
  <div class="gallery padding--top padding--bottom bg-light">
    <div class="container">
      <GalleryComp client:load />
    </div>
  </div>
</MainLayout>
