---
import { Icon } from "astro-icon/components";
---

<div class="about padding--top padding--bottom">
  <div class="container">
    <div class="row g-4">
      <div class="col-lg-4 col-12">
        <div class="about__thumbpart">
          <h3 class="mb-4">About the Ministry</h3>
          <p>
            Campaign For Christ Global Ministry, is an Evangelical Bible
            Ministry, Orchestrated, divinely ordained instructed and directed by
            the hand of the Lord of host
          </p>

          <span>(After studying go a fishing... THE POWER OF REVELATION)</span>

          <div class="bg-secondary px-4 py-2 text-white">
            MATT 28:18-20, MATT 16:15-20, LUKE 24:47, JOHN 14:6
          </div>
        </div>
      </div>
      <div class="col-lg-8 col-12">
        <div class="about__contentpart ms-lg-4 ps-lg-5 border-start">
          <div class="section__header">
            <h2>Mission</h2>
            <p>
              Preaching the gospel of Christ Jesus all over the world. A non
              profit making Bible ministry of Faith, Prayer and Love.
            </p>
            <p>God Almighty is our provider. We preach through</p>
            <ul>
              <li>Printed Journals</li>
              <li>Radios</li>
              <li>Televisions</li>
              <li>Billboards, and</li>
              <li>Holding crusades all over the world</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-8 col-12">
        <p></p>
      </div>
    </div>
  </div>
</div>

<style lang="scss">
  ul {
    padding-left: 1rem;
    li{
      list-style: disc;
    }
  }
</style>
