---
import {getImage} from "astro:assets";
import Banner1 from "../assets/images/banner/01.jpg";
import Banner2 from "../assets/images/banner/02.jpg";
import Banner3 from "../assets/images/banner/03.jpg";

const optBgImage1 = await getImage({ src: Banner1 });
const optBgImage2 = await getImage({ src: Banner2 });
const optBgImage3 = await getImage({ src: Banner3 });
---

<div class="banner__slider swiper banner-style2 overflow-hidden">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <div
        class="banner"
        style={`background-image: url('${optBgImage1.src}')`}
      >
        <div class="container">
          <div class="banner__content ms-lg-auto">
            <h2>We Believe In Huminity</h2>
            <p>
              Enthusiastically underwhelm quality benefits rather than
              professional "outside the box" thinking. Distinctively network
              highly efficient leadership skills
            </p>
            <a href="#" class="default-btn move-right"
              ><span>GET HELP NOW</span></a
            >
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-slide">
      <div
        class="banner"
        style={`background-image: url('${optBgImage2.src}')`}
      >
        <div class="container">
          <div class="banner__content">
            <h2>A Powerful Religion Theme</h2>
            <p>
              Enthusiastically underwhelm quality benefits rather than
              professional "outside the box" thinking. Distinctively network
              highly efficient leadership skills
            </p>
            <a href="#" class="default-btn move-right"
              ><span>GET HELP NOW</span></a
            >
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-slide">
      <div
        class="banner"
        style={`background-image: url('${optBgImage3.src}')`}
      >
        <div class="container">
          <div class="banner__content ms-lg-auto">
            <h2>It"S Useless To Lecture</h2>
            <p>
              Enthusiastically underwhelm quality benefits rather than
              professional "outside the box" thinking. Distinctively network
              highly efficient leadership skills
            </p>
            <a href="#" class="default-btn move-right"
              ><span>GET HELP NOW</span></a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
