---
import { getImage } from "astro:assets";
import Banner1 from "../assets/images/banner/pexels-luis-quintero-2014775.jpg";

const optBgImage1 = await getImage({ src: Banner1 });
---

<div class="banner__slider swiper banner-style2 overflow-hidden">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <div
        class="banner"
        style={`background-image: url('${optBgImage1.src}')`}
      >
        <div class="container">
          <div
            class="banner__content hero mx-auto d-flex flex-column align-items-center"
          >
            <h5 class="text-center">
              Welcome to Campaign for Christ Global Ministry
            </h5>
            <h1 class="text-center">Worship with our Church Family</h1>
            <a href="#" class="default-btn move-right"><span>JOIN US</span></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<style lang="scss">
  .banner {
    .hero {
      @media (min-width: 992px) {
        max-width: 70%;
      }
      h1 {
        font-weight: 900;
        color: #fff !important;
        font-family: "Roboto", sans-serif;
      }
      h5 {
        color: #fff;
        font-family: "Roboto", sans-serif;
      }
    }
  }
</style>
