---
import { Icon } from "astro-icon/components";
import { events } from "../data/events.data";
---

<div class="event padding--top padding--bottom">
  <div class="container">
    <div class="section__header text-center">
      <h2>Recent Event</h2>
      <p>
        Check out our upcoming events and join us in fellowship and service.      </p>
    </div>
    <div class="section__wrapper">
      <div class="row g-4 justify-content-center">
        {
          events.map(({ title, image }) => {
            return (
              <div class="col-lg-4 col-sm-6 col-12">
                <div class="event__item">
                  <div class="event__inner">
                    <div class="event__thumb">
                      <div class="image-wrapper">
                        <img src={image} alt={title} />
                      </div>
                      <!-- <div class="event__thumb-date">
                        <h6>09</h6>
                        <p>Nov</p>
                      </div> -->
                    </div>
                    <div class="event__content">
                      <div class="">
                        <h5>{title}</h5>
                      </div>
                      <div class="event__metapost">
                        <ul class="event__metapost-info">
                          <li>
                            <Icon name="mdi:clock" /> 10am - 12pm
                          </li>
                          <li>
                            <Icon name="mdi:map-marker" /> PO Box 16122,
                            Collins Street
                          </li>
                        </ul>
                      </div>
                      <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing
                        elit, sed do eiusmod tempor incididunt ut labore
                        consectetur adipisicing elit
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            );
          })
        }
      </div>
    </div>
  </div>
</div>

<style lang="scss">
  .image-wrapper{
    height: 300px;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
</style>