---
import { Image } from "astro:assets";
import Logo from "../assets/images/cfcgm-logo.png";

const today = new Date();
---

<footer class="footer">
  <div class="footer__top padding--top padding--bottom">
    <div class="container">
      <div class="row g-4">
        <div class="col-xl-6 col-sm-6 col-12">
          <div class="footer__about">
            <div class="section__header">
              <h2>About C.F.C.G Ministry</h2>
            </div>
            <div class="section__wrapper">
              <div class="footer__about-contet">
                <p>
                  Campaign For Christ Global Ministry, is an Evangelical Bible
                  Ministry, Orchestrated, divinely ordained instructed and
                  directed by the hand of the Lord of host
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xl-3 col-sm-6 col-12">
          <div class="footer__links">
            <div class="section__header">
              <h2>Useful Links</h2>
            </div>
            <div class="section__wrapper">
              <ul>
                <li><a href="#">Google</a></li>
                <li><a href="#">Template</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer__bottom">
    <div class="container">
      <div class="footer__bottom-area text-center">
        <div class="footer__bottom-logo">
          <a href="/">
            <Image src={Logo} alt="logo" width={70} />
          </a>
        </div>
        <div class="footer__bottom-content">
          <p>
            &copy; {today.getFullYear()} C.F.C.G.M | Built by
            <a href="https://linkedin.com/in/mason10396" target="_blank"
            class="text-decoration-underline "
            >
              oniDev
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
