---
import { Image } from "astro:assets"
import Image1 from "../assets/images/gallery/WhatsApp Image 2024-02-07 at 10.22.46.jpeg"
---

<div class="gallery padding--top padding--bottom bg-light" id="gallery">
  <div class="container">
    <div class="section__header text-center">
      <h2>Gallery</h2>
    </div>
    <div class="section__wrapper">
      <div class="row g-3 grid">
        <div class="col-lg-4 col-sm-6 col-12 cate-1">
          <div class="gallery__item">
            <div class="gallery__inner">
              <div class="gallery__thumb">
                <Image
                  src={Image1}
                  alt="gallery-thumb"
                  class="w-100"
                />
              </div>
              <div class="gallery__content text-center">
                <a
                  href="assets/images/gallery/01.jpg"
                  data-rel="lightcase"
                  class="gallery__icon"><i class="fas fa-plus"></i></a
                >
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 col-12 cate-2">
          <div class="gallery__item">
            <div class="gallery__inner">
              <div class="gallery__thumb">
                <Image
                  src={Image1}
                  alt="gallery-thumb"
                  class="w-100"
                />
              </div>
              <div class="gallery__content text-center">
                <a
                  href="assets/images/gallery/02.jpg"
                  data-rel="lightcase"
                  class="gallery__icon"><i class="fas fa-plus"></i></a
                >
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 col-12 cate-3">
          <div class="gallery__item">
            <div class="gallery__inner">
              <div class="gallery__thumb">
                <Image
                  src={Image1}
                  alt="gallery-thumb"
                  class="w-100"
                />
              </div>
              <div class="gallery__content text-center">
                <a
                  href="assets/images/gallery/03.jpg"
                  data-rel="lightcase"
                  class="gallery__icon"><i class="fas fa-plus"></i></a
                >
              </div>
            </div>
          </div>
        </div>
        
      </div>
      <div class="text-center mt-5">
        <a href="/gallery" class="default-btn move-right"><span>View All</span></a>
      </div>
    </div>
  </div>
</div>
