---

---
<div class="header-form">
  <div class="bg-lay">
    <div class="cross">
      <i class="fas fa-times"></i>
    </div>
  </div>
  <form class="form-container">
    <input type="text" placeholder="Input Your Search" name="name" />
    <button type="submit">Search</button>
  </form>
</div>