---
interface Props {
  title: string;
}
const { title } = Astro.props;
---

<div class="pageheader">
  <div class="container">
    <div class="pageheader__area">
      
      <div class="pageheader__right">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">{title}</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>
