---

---

<div
  class="qoute padding--top padding--bottom bg-img"
  style="background: url(assets/images/bg-img/03.jpg) rgba(0, 0, 0, .4);;"
>
  <div class="container">
    <div class="qoute__slider overflow-hidden">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="qoute__item">
            <div class="qoute__inner align-items-center">
              <div class="qoute__thumb">
                <h4>Quote From</h4>
                <span>Prophat</span>
                <i class="fas fa-quote-left"></i>
              </div>
              <div class="qoute__content">
                <blockquote class="qoute__content-blockquote">
                  <p>
                    Hazrat Mohammod (s) Said "It is Better For Any Of You To
                    Carry A Load Of Firewood On His Own Back Than To Beg From
                    Someone Else"
                  </p>
                  <h4>Riyadh-Us-Saleheen, Chapter 59, hadith 540</h4>
                </blockquote>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
