---
import { Icon } from "astro-icon/components";
import { bibleVerses } from "../data/verses.data";
---

<div
  class="qoute padding--top padding--bottom bg-img"
  style="background: url(assets/images/bg-img/03.jpg) rgba(0, 0, 0, .4);;"
>
  <div class="container">
    <div class="qoute__slider overflow-hidden">
      <div class="swiper-wrapper">
        {
          bibleVerses.map(({ book, chapter, verse, text }) => (
            <div class="swiper-slide">
              <div class="qoute__item">
                <div class="qoute__inner align-items-center">
                  <div class="qoute__thumb">
                    <h4>Bible</h4>
                    <span>Verses</span>
                    <Icon name="mdi:format-quote-open" class="text-white " />
                  </div>
                  <div class="qoute__content">
                    <blockquote class="qoute__content-blockquote">
                      <p>{text}</p>
                      <h4>
                        {book} {chapter} : {verse}
                      </h4>
                    </blockquote>
                  </div>
                </div>
              </div>
            </div>
          ))
        }
      </div>
    </div>
  </div>
</div>
