---
import { Icon } from "astro-icon/components";
---

<!-- social section -->
<div class="social">
  <div class="container">
    <div class="social__area">
      <ul class="social__list">
        <li class="social__list-facebook">
          <a href="https://facebook.com/campaign4Jesu" target="_blank">
            <Icon name="ri:facebook-fill" class="social-icon" />
            <span>facebook</span>
          </a>
        </li>
        <li class="social__list-twitter">
          <a href="#">
            <Icon name="ri:twitter-x-fill" class="social-icon" />
            <span>twitter</span>
          </a>
        </li>
        <li class="social__list-linkedin">
          <a href="#">
            <Icon name="ri:linkedin-fill" class="social-icon" />
            <span>linkedin</span>
          </a>
        </li>
        <li class="social__list-instagram">
          <a href="#">
            <Icon name="ri:instagram-fill" class="social-icon" />
            <span>instagram</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>

<style lang="scss">
  .social-icon {
    padding: 8px;
  }
</style>