---
import { getImage } from "astro:assets";
import Bg from '../assets/images/bg/3175109.jpg'

const optBgImage = await getImage({ src: Bg });

---

<div class="eventtime" style={`background-image: url('${optBgImage.src}')`}>
  <div class="container">
    <div class="eventtime__area">
      <div class="eventtime__left">
        <h2>Upcoming Event</h2>
      </div>
      <div class="eventtime__center">
        <ul class="countdown count-down" data-date="Nove 09, 2022 21:14:01">
          <li class="clock-item">
            <span class="count-number days">56</span>
            <p class="count-text">Days</p>
          </li>

          <li class="clock-item">
            <span class="count-number hours">16</span>
            <p class="count-text">Hours</p>
          </li>

          <li class="clock-item">
            <span class="count-number minutes">25</span>
            <p class="count-text">Minutes</p>
          </li>

          <li class="clock-item">
            <span class="count-number seconds">19</span>
            <p class="count-text">Seconds</p>
          </li>
        </ul>
      </div>
      <div class="eventtime__right">
        <a href="#" class="default-btn move-right"><span>ALL EVENTS</span></a>
      </div>
    </div>
  </div>
</div>

<style lang="scss">
  .eventtime{
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-attachment: fixed !important;
  }
</style>